#################################################################
This is a sample .env file. Let it guide you when setting
up Your .env file. 
#################################################################
DB_STRING_DEVELOPMENT=your development database string
DB_STRING_TEST=your test database string
JWT_SECRET= your secret key
mail_master=email address for sending notifications
SENDGRID_API_KEY=your sendgrid API key
SENDGRID_DEVELOPMENT__URL= example localhost:3000/api/v1
PORT= example 2000

